body {
    font-family: Arial, sans-serif;
    background-color: rgb(46, 46, 46);
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;  /* Ensure this fits your design */
    margin: auto;
    padding: 20px;
    background-color: rgba(151, 136, 136, 0.327);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 180px; /* Add enough top padding to clear the header */
}

.header {
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: #000; 
    z-index: 10; 
    padding: 15px;
}

h1 {
    text-align: center;
    color: #08b198;
    font-size: 50px;
    margin-bottom: 30px;
    background-color: #000;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-form button {
    padding: 10px 20px;
    background-color: #08b198;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #45a049;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;  
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 8px;
    table-layout: fixed;
}

table th, table td {
    font-size: 15px;
    padding: 5px;
    border: 1px solid #1ea02f;
    word-wrap: break-word; 
    overflow: hidden; 
}

table th {
    background-color: rgb(151, 136, 136); 
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: rgba(151, 136, 136, 0.415);
}

table a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.edit-button {
    background-color: #4CAF50;
    color: #fff;
}

.delete-button {
    background-color: #f44336;
    color: #fff;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.last_button {
    width: 100%; 
    position: fixed; 
    bottom: 0; 
    left: 0;
    background-color: #000; 
    z-index: 10; 
    padding: 15px;
    text-align: center;
}

.last_button a {
    color: #08b198;
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 5px;
}

.last_button a:hover {
    transition: 5s;
    background-color: #444; 
}
